<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to edit_article_path(@article) do %>
    <i class="fa fa-edit"></i>
<% end %> &nbsp
<%= link_to(articles_path) do %>
   <i class="fa fa-angle-left"></i>
<% end %>
